<div class="row valign-wrapper" style="height: 100%; margin: 0;">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col s12">
                        <h4 class="center">My Leave Requests</h4>
                        <br />
                        <table style="position: relative; bottom: 85px; margin-bottom: -85px;">
                            <thead>
                                <tr style="border: none; height: 72px;">
                                    <td></td><td></td><td></td></td>
                                    <td class="hide-on-small-only">
                                        <a id="new-request" class="waves-effect waves-light btn light-blue tooltipped" data-position="left" data-tooltip="New Request"><i class="material-icons">add</i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody style="max-height: 700px; overflow: auto;">
                                {% if requests[0] %}
                                    {% for request in requests %}
                                        <tr>
                                            <td>{{ request.from|toDate }}</td>
                                            <td>{{ request.to|toDate }}</td>
                                            <td style="text-transform: capitalize;">{{ request.status }}</td>
                                            <td><a id="view-request" data-user="{{ request.staffNumber }}" data-from="{{ request.from }}" data-to="{{ request.to }}" data-mycomments="{{ request.user_comment }}" data-managercomments="{{ request.manager_comment }}" class="waves-effect waves-light btn light-blue tooltipped" data-position="left" data-tooltip="View More"><i class="material-icons">more_horiz</i></a></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4" class="center"><em>No results found.</em></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <a id="add" class="waves-effect waves-light btn light-blue hide-on-med-and-up" style="width: 100%; margin-top: 20px;">New Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-request" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>
            Leave Request
            <a href="#!" class="modal-close btn-flat right"><i class="material-icons">close</i></a>
            <a id="delete-request" href="#!" class="modal-close btn-flat right tooltipped" data-position="left" data-tooltip="Delete Request"><i class="material-icons">delete</i></a>
        </h4>
        <h6><strong>My Comments</strong></h6>
        <p id="my-comments"></p>
        <h6><strong>Manager's Comments</strong></h6>
        <p id="manager-comments"></p>
    </div>
</div>

<script src="/js/requests.js"></script>